:root {
  --q-background-primary: #fff;
  --q-background-secondary: #f3f3f3;
  --q-blue-lighter: #315194;
  --text-color: #525252;
  --yellow: #f7b70b;
  --black: #313131;
  --grey-1: #a3a3a3;
  --grey-2: #bababa;
  --light-grey: #f1f1f1;
  --maxContentWidth: 1280px;
  --background-table: #fcfcfc;
  --error: #dd0000;
  --background-card: #f5f5f5;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Ubuntu";
  font-style: normal;
  line-height: 120%;
  font-weight: 500;
}

.q-btn {
  text-transform: inherit;
  border-radius: 10px;
  line-height: 1.15;
  height: 48px;
}

.q-btn--form {
  width: 165px;
}

.btn-link {
  cursor: pointer;
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline !important;
}

.btn__label {
  font-size: 16px;
}

h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  margin: 0;
}

h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  margin: 0;
}
h5 {
  color: var(--black, #313131);
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 16px;
}
