:root {
  --q-background-primary: #f3f3f3;
  --q-background-secondary: #f3f3f3;
  --q-Blue-lighter: #315194;
  --text-color: #525252;
}

body {
  font-family: "Ubuntu";
  font-style: normal;
  line-height: 120%;
  font-weight: 500;
}

.q-btn {
  text-transform: inherit;
}
.q-btn--outline {
  border-radius: 10px;
  border: 1px solid var(--grey-2, #bababa);
}
.q-btn--form {
  width: 165px;
  height: 48px;
  border-radius: 10px;
}

body {
  font-family: "Ubuntu";
  font-style: normal;
  line-height: 120%;
}

.btn-link {
  cursor: pointer;
  text-decoration: none;
}
.btn-link:hover {
  text-decoration: underline !important;
}

h4 {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  margin: 0;
}
